#/* Comentário para o teste técnico:  Aqui eu quis criar um arquivo para demonstrar a estrutura do .env, apesar de ser somente esta que e uma informação pública, não é necessário configurar.
NEXT_PUBLIC_RANDOM_USER_BASE_URL=https://randomuser.me/api/